Правила игры:
На поле боя есть игрок и компьютер. Поле боя - линейно.
Каждый из бойцов может двигаться вдоль одной линии: влево или вправо.
Сами линии, по которым двигаются бойцы - параллельны друг другу.
Ход игрока или компьютера начинается с выбора: атаковать или двигаться.

Если игрок или компьютер выбирает атаковать, то дальше происходит угадывание
местоположения противника и последующее нанесение ему урону (в случае попадания).
Урон наносится случайный (из некоторого диапозона).

Если игрок или компьютер выбирает движение, то дальше происходит движение влево или вправо.
Первым ходит игрок. Игра состоит из нескольких этапов и нескольких уровней. В каждом этапе 10 уровней.
Каждый этап игры отличается интеллектом противника. Каждый уровень этапа отличается очками здоровья и
наносимым уровном противника. Игра продолжается до тех пор, пока у одного из бойцов не кончатся очки здоровья.